<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.apache.cordova.sms" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>SMS</name><js-module name="SMS" src="www/SMS.js"><clobbers target="cordova.plugins.SMS" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="SMS"><param name="android-package" value="org.apache.cordova.sms.SMS" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/SMS.java" target-dir="src/org/apache/cordova/sms/SMS" /></platform></plugin>